/* Header Styles */
header {
  background-color: rgb(214, 214, 214);
  width: 100%;
}

.page-title {
  display: inline;
  line-height: 70px;
}

.nav {
  list-style-type: none;
  float: right;
  min-width: 50%;
  max-width: 70%;
}
.nav-item {
  display: block;
  float: left;
  height: 70px;
}

.nav-link {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 70px;
}

/* Main Styles */
main {
  padding-top: 25px;
}

/* Footer Styles */
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #333;
  padding: 8px;
}
