@{
  Layout = "_Layout";
}

@model Library.Models.Patron
  <h4>Add a new Patron</h4>

  @using (Html.BeginForm())
  {
    @Html.TextBoxFor(model => model.PatronName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m=>m.PatronName), required="required"})

    <input type="submit" value="Add new Patron" class="btn btn-default" />
  }
  <p>@Html.ActionLink("Show all Patrons", "Index")</p>
